.icheck-center1
{
    padding-top: 8px;
}

.input-group-prepend-validate
{
    height: calc(2.25rem + 2px);
}
.dropzone
{
    min-height: 150px;
    padding: 10px 10px;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    box-shadow: inset 0 0 0 transparent;
}