.icheck-center
{
    padding-left: 8px;
}

.input-group-prepend-validate
{
    height: calc(2.25rem + 2px);
}
.invalid-icheck::before
{
    border: 1px solid #ff0000 !important;

}


.room-image{
    margin-left: 38px;
    margin-right: 38px;
}
#photoInfo label
{
    font-size: 12px;
}
#photoInfo label:not([class*=icheck-]>label)
{
    display: inline;
}
#zoomTemplate label
{
    font-size: 12px;
}
#zoomTemplate label:not([class*=icheck-]>label)
{
    display: inline;
}

.kv-zoom-photo-save-notice{
    display: none;
    position: absolute;
    opacity: .8;
    font-size: .8rem;
    background-color: #1a1a1a;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    color: #fff;
    left: 10%;
    right: 60%;
    top: 15%;
}
