.dropzone {
  background: white;
}
.dropzone-box
{
  min-height: 160px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  box-shadow: inset 0 0 0 transparent;
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropzone-box>li{
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 2px;
    border: 2px solid #333;
}
.dropzone-box > li > :first-child {
    display: block;
    position: relative;
}

.dropzone-box .dz-preview.dz-image-preview {
    background: white;
    margin: 0;
    padding: 0;
}


.dropzone-box .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 12px;
    min-height: 100px;
}

.dropzone-box .dz-preview .dz-image {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 2px;
    border: 2px solid #333;
    border-radius: 0px;
    z-index: 10;
}

.thumbnails > li > .tools {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    width: 24px;
    background-color: rgba(0, 0, 0, 0.55);
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .thumbnails > li > .tools.tools-right {
    left: auto;
    right: -30px;
  }
  .thumbnails > li > .tools.tools-bottom {
    width: auto;
    height: 28px;
    left: 0;
    right: 0;
    top: auto;
    bottom: -30px;
  }
  .thumbnails > li > .tools.tools-top {
    width: auto;
    height: 28px;
    left: 0;
    right: 0;
    top: -30px;
    bottom: auto;
  }
  .thumbnails > li:hover > .tools {
    left: 0;
    right: 0;
  }
  .thumbnails > li:hover > .tools.tools-bottom {
    top: auto;
    bottom: 0;
  }
  .thumbnails > li:hover > .tools.tools-top {
    bottom: auto;
    top: 0;
  }
  .thumbnails > li:hover > .tools.tools-right {
    left: auto;
    right: 0;
  }
  .thumbnails > li > .in.tools {
    left: 0;
    right: 0;
  }
  .thumbnails > li > .in.tools.tools-bottom {
    top: auto;
    bottom: 0;
  }
  .thumbnails > li > .in.tools.tools-top {
    bottom: auto;
    top: 0;
  }
  .thumbnails > li > .in.tools.tools-right {
    left: auto;
    right: 0;
  }
  .thumbnails > li > .tools > a,
  .thumbnails > li > :first-child .inner a {
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: normal;
    padding: 0 4px;
  }
  .thumbnails > li > .tools > a:hover,
  .thumbnails > li > :first-child .inner a:hover {
    text-decoration: none;
    color: #C9E2EA;
  }
  .thumbnails > li .tools.tools-bottom > a,
  .thumbnails > li .tools.tools-top > a {
    display: inline-block;
  }
